<%- include("header") -%>

<main class="container">
    <div class="bg-light p-5">
        <h2><%=home.name%></h2>
        <p class="lead"><%=home.text%></p>
    </div>
    <% posts.forEach(function(post){ %>
    <div class="bg-light p-5">
        <h2><%=post.name%></h2>
        <%if(post.text.length>100){%>
        <p class="lead"><%=post.text.substring(0,100)%>... <a href="/posts/<%=post._id%>">Read More</a></p>
        <%}else{%>
        <p class="lead"><%=post.text%></p>
        <%}%>
    </div>
    <%})%>

</main>

<%- include("footer") -%>